# Default ignored files
/workspace.xml
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
venv/
.idea/
__pycache__/
/resources/dataset_OLD/
/note_recognition_app_v2/resources_v2/annotations/trimaps/
/note_recognition_app_v2/resources_v2/annotations/xmls/
/note_recognition_app_v2/resources_v2/annotations/._trimaps
/note_recognition_app_v2/resources_v2/annotations/list.txt
/note_recognition_app_v2/resources_v2/annotations/README
/note_recognition_app_v2/resources_v2/annotations/test.txt
/note_recognition_app_v2/resources_v2/annotations/trainval.txt
/note_recognition_app_v2/resources_v2/images/
/note_recognition_app_v2/oxford_segmentation.h5
/note_recognition_app_v2/keras_yolo3_master/yolov3.weights
/note_recognition_app_v2/positions_detection/resources/
/note_recognition_app_v2/positions_detection/model-dsbowl2018-1.h5
/note_recognition_app_v3/positions_detection/Data/Source_Images/Test_Image_Detection_Results/
/note_recognition_app_v3/positions_detection/Data/Model_Weights/
/note_recognition_app_v3/positions_detection/2_Training/src/keras_yolo3/yolo.h5
/note_recognition_app_v3/positions_detection/2_Training/src/keras_yolo3/yolov3.weights
/note_recognition_app_v3/positions_detection/2_Training/src/keras_yolo3/yolov3-tiny.weights
